{% extends "layout.html" %}
{% block title %}
Corridor Poses
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/corridor_poses.js')}}"></script>
<div  id ="div-popup">
  <br>
  <br>
  <section class="mx-auto my-5" style="max-width: 23rem;">
      
    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      
      <div class="card-body text-center">
        <h4 id = "h" class="card-title font-weight-bold"></h4>
        <hr>
       
         <img id ="load" src = "{{ url_for('static', filename='/img/load.gif')}}">
          <button id = "click" type="button" class="btn btn-success">Ok</button>
        
        
      </div>
    </div>
    
  </section>
</div>
<main id="main" class="main">
  
  
    <section class="section dashboard">
     
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

         
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

               

                <div class="card-body">
                  <h5 class="card-title">Corridor Poses <span>|Remove Corridor Poses</span></h5>
                  
                  <table class="table table-sm datatable">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        
                        <th scope="col">Delete</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for pose in poses %}
                      <tr>
                       
                       
                        
                        <td onclick ="myfunction('{{pose}}')" ><a   href="#" style=color:black; class="droptextt" >{{pose}}</a></td>
                        
                        <td><a class="droptext" href="http://192.168.0.125:5000/corridor_poses/deletepose?posename={{pose}}"><span class="close-navigation">&times</span></a></td>
                        
                      </tr>

                      {% endfor %}

                      
                    
                    </tbody>
                  </table>
                    
                </div>
              </div>

            </div><!-- End Customers Card -->

          

          </div>
        </div><!-- End Left side columns -->
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <form class="modal-content" action="/action_page.php">
              <div class="container">
                <h1>Delete Account</h1>
                <p>Are you sure you want to delete your account?</p>
              
                <div class="clearfix">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
                </div>
              </div>
            </form>
          </div>
        <!-- Right side columns -->
        

      </div>
      
    </section>

  </main><!-- End #main -->
{% endblock %}